@import 'mixin.less';
@import 'dp.less';
html, body,#map_canvas{
	height: 100%;
	width: 100%;
	background: #fff;
	font-family: @font-default;
}
.fill { 
	min-height: 100%;
	height: 100%;
}
.container-full {
	margin: 0 auto;
	width: 100%;
	padding: 0px;
	.header{
		padding: 0px 15px;
	}
	.navbar-header{
		width: 285px;
	}
}

.supreme-container{
	padding: 20px;
}
#header{
	padding-top: 100px;
	padding-bottom: 300px;
	border-top: 2px solid #414C60;
	background: #3e495d url('http://serpbook.com/serp/images/header-background.jpg') center 0 repeat-x;
	text-align: center;
	background-size: 100% 100%;
	h1{
		font-family: 'Kaushan Script',georgia;
		color: #fff;
		text-align: center;
		margin-bottom: 20px;
	}
	h3{
		text-align: center;
		color: #fff;
		font-size: 24px;
		font-family: @font-default;
		font-weight: 300;
	}
}
#search-section{
	.border-radius(2px);
	background: #fff;
	width: 700px;
	margin: 0 auto;
	height: auto;
	padding: 5px;
	overflow: hidden;
	padding: 10px;
	border:1px solid #000;
	background: rgba(0, 0, 0, .5);
	input[type=text]{
		.border-radius(2px);
		padding: 20px 5px;
		font-size: 14px;
		outline: none;
		border: 1px solid #ed9c28;
	}
	input[type=text]:focus{
		border: 1px solid #ed9c28;
	}
	button{
		padding: 10.5px 15px;
		font-size: 13px;	
	}
	.no-padding{
		padding: 0px 5px;
	}
}

.search-section{
	margin-top: 3px;
	float: left;
	.search-button{
		margin-top: 6px;
		font-size: 12px;
		font-weight: bold;
		border: none;
		float: left;
		.border-radius(3px);
		padding: 6px 50px;
		border: 1px solid #00a7e5;
		color: #fff;
		font-weight: 600;
		font-size: 14px;
		background: #4285f4;

	}
	.search-box{
		width: 300px;
		border:1px solid #ccc;
		padding: 10px;
		.border-radius(0);
		margin-top: 5px;
		padding: 15px 10px 18px 10px;
		margin-right: 10px;
		float: left;
		outline: none;
		box-shadow: 0 1px 0 #fff,1px 1px 1px rgba(204,204,204,0.5) inset,-1px 1px 1px rgba(204,204,204,0.5) inset;
	}
	search-box :focus{
		background: #fff;
		box-shadow: none;
	}
	.calendar{
		width: 170px;
	}
	.search-box :focus{
		background: #124b7f;
	}
}

#map-wrapper{
	width: 100%;
	height: 100%;
	background: #fff;
	float: right;
	overflow:hidden;
	iframe {
		position: absolute;
		top: 0;
		right: 0;
		width: 100% !important;
		height: 100% !important;
		border: none;
	}
}
.content-wrapper{
	width: 300px;
	overflow: scroll;
	position: fixed;
	top: 50px;
	left: 0px;
	height: 100%;
	background: #efefef;
	z-index: 1;
	float: left;
	overflow:auto;
	padding: 10px;
	padding-bottom: 50px;
	.filter-count{
		display: block;
		float: left;
		width: 100%;
		padding: 20px;
	}
	.filter-list{

		#amount{

		}

		display: block;
		float: left;
		margin: 0 auto;
		width: 100%;

		.ui-slider-horizontal .ui-slider-handle {
			margin-left:-0.6em;
			top:-0.3em;
			background: none repeat scroll 0 0 #FFFFFF;
			border-radius: 50% 50% 50% 50%;
			.box-shadow(0,2px,1px,0);
			padding: 8px;
			outline: none;
		}

		.ui-slider-range{
			background: #efefef;
		}

		.price-slider{
			width: 230px;
			margin-left: 25px;
			float: left;
			display: block;
		}
		.price-tag{
			width: 230px;
			margin-left: 25px;
			float: left;
			display: block;
			margin-bottom: 20px;
			input[type=text]{
				background: transparent;
				border: none;
			}
			.rate-min{
				width: 100px;
				float: left;
			}
			.rate-max{
				width: 100px;
				float: right;
				text-align: right;
			}
		}

		.nav-header{
			background: none;
			padding: 0;
			font-weight: bold;
			font-size: 14px;
			color: #333;
			margin-top: 15px;
			padding: 5px 10px;
			display: block;
		}
		ul{
			li{
				list-style: none;
				margin-left: -30px;
				label{
					font-weight: 400;
					font-size: 12px;
					line-height: 22px;
				}
			}
		}
	}
}
//modal dialog
.billboard-preview{
	
	.modal-container{

		.modal-header{
		}
		.modal-body{
			img{
				width: 100%;
			}
			.billboard-explain{
				width: 300px;
				float: left;
			}
			.billboard-spec{
				float: right;

			}
		}
	}
}