@import 'mixin.less';
html,body{
	height: 100%;
	width: 100%;
	background: #fff;
	font-family: @font-default;
}
#map_canvas{
	height: 100%;
	width: 100%;
}
body {
	height: auto;
	background-color: #f2f2f2;
	font-family: @font-default;
	font-weight: 300;
	font-size: 16px;
	color: #555;
	padding-top: 50px;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
.map-body{
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @font-default2;
	font-weight: 300;
	color: #333;
}

p {
	line-height: 28px;
	margin-bottom: 25px;
}

.centered {
	text-align: center;
}

a {
	color: #3bc492;
	word-wrap: break-word;
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,a:focus {
	color: #c0392b;
	text-decoration: none;
	outline: 0;
}

a:before,a:after {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

#headerwrap {
	background-color: #34495e;
	padding-top: 60px;

	h1 {
		margin-top: 30px;
		color: white;
		text-align: left;
		font-size: 70px;
	}

	h3 {
		color: white;
		font-size: 30px;
	}

	h5 {
		color: white;
		font-weight: 700;
		text-align: left;
	}

	p {
		text-align: left;
		color: white;
	}
}

#intro {
	padding-top: 50px;
	border-top: #bdc3c7 solid 5px;
}

.wrapper-container{
	padding-top: 50px;
}

#features {
	padding-top: 50px;
	padding-bottom: 50px;

	.ac {

		a {
			font-size: 20px;
		}
	}
}

#showcase {
	display: block;
	background-color: #34495e;
	padding-top: 50px;
	padding-bottom: 50px;

	h1 {
		color: white;
	}
}

#footerwrap {
	background-color: #2f2f2f;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;

	h3 {
		font-size: 28px;
		color: white;
	}

	p {
		color: white;
		font-size: 18px;

	}

}

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;

	p {
		color: white;
	}

}

#map-wrapper,.container-full{
	width: 100%;
	height: 100%;
	padding: 0px;
}

.search-header{
	width: 100%;
	z-index: 100;
	position: absolute;
	top: 60px;

	.container{
		top: 100px;
		width: 960px;
		border: 1px solid #efefef;
		padding: 10px;
		background: #fff;

		.right{
			float: right;
		}

		.free-transform{
			float: left;
			padding-left: 0px;
		}

	}
}
.kivi{
	min-height: 100%;
	
	.skip{
		width: 40px;
		height: 100px;
		background: #000;
		position: fixed;
		z-index: 100;

	}
	
	.banner-detail{

		padding: 0;
		
		.whislist{
			width: 200px;
			margin: 10px auto;

		}
		.book-it-button{
			width: 200px;
			margin: 10px auto;
		}
		.slidesjs-navigation{
			background: #000;
			z-index: 100;
			top: 300px;
		}

		.slidesjs-previous{
			left: 10px;
			position: absolute;
		}

		.slidesjs-next{
			position: absolute;
			right: 10px;
		}

		section{
			background: #fff;
			margin-bottom: 30px;
		}

		table{
			width: 99%;
			margin: 5px;

			.front{
				background: #efefef;
				font-weight: 400;
			}
		}

		.content-description{
			padding: 10px;
		}

		.banner-info-body{
			background: #fff;
			float: left;
			padding: 0px;
			display: block;
			border: 1px solid #ccc;
			width: 100%;
		}
		.price{
			ul{
				margin-left: -20px;
				display: block;
				width: 100%;

				li{

					list-style: none;
					padding: 10px;
					border-top:1px solid #ccc;

				}
			}
			.price-detail{

				text-align: center;
				font-family: "Arial";
				font-size:32px;
				font-weight: bold;
				margin-top: 30px;

				sup{
					font-size: 18px;
					vertical-align: middle;
					font-weight: normal;	
				}

				em.currency{
					font-size: 14px;
					vertical-align: top;
					font-weight: normal;
				}
			}
		}

		.book-it-now{

		}
		.fast-contact{
			background: #eeedea;
			width: 100%;
			min-height: 80px;
			border-top: 1px solid #ccc;
			i{
				position: relative;
				left: 90px;
				margin-top: 14px;
			}
			.detail-contact{
				float: right;
				width: 70%;
				font-family: arial;
				ul{
					li{
						list-style: none;
							font-weight: bold;
							font-size: 14px;
						h4{
							font-weight: normal;
							font-size: 13px;
							line-height: 15px;
							margin-bottom: 4px;
						}
					}
				}
			}
		}
		.svw{
			background: #efefef;
		}
		.image-billboard{
			padding: 5px;

			img{
				width: 769px
			}
		}

		.banner-info-header{
			padding: 10px;
			background: #F9F9F9;
			border-bottom: 1px dotted #ccc;
			font-weight: 400;
		}

		.active{
			background: #fff;
		}
	}
}